<div class="container__big-card">
  <div class="big-card__photo">
    <!-- https://www.pngkey.com/png/detail/233-2332677_ega-png.png -->
    <img
      src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.ytimg.com%2Fvi%2FmsmI9Nx9QS8%2Fmaxresdefault.jpg&f=1&nofb=1&ipt=df1be256a0caa09e2c8305ab2d43d67c80d92bca1fe9a03fdd87b104cb49d034&ipo=images"
      alt="big card image"
      height="230rem"
    />
  </div>
  <div class="big-card__title">
    <h1>
      <a href="#">hmmm bolo de murangu</a>
    </h1>
  </div>
  <div class="big-card__description">
    <p>
      <a href="#">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
        voluptatum, quibusdam, quia, quos voluptates voluptatem quod
        voluptatibus quas doloribus quidem voluptate. Quisquam voluptatum,
        quibusdam, quia, quos voluptates voluptatem quod voluptatibus quas
        doloribus quidem voluptate.
      </a>
    </p>
  </div>
</div>
