<div class="container__small-card">
  <div class="container__small-card-content">
    <div class="small-card__photo">
      <img
        src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.ytimg.com%2Fvi%2Fn5n68jNBSlQ%2Fhqdefault.jpg%3Fsqp%3D-oaymwEmCOADEOgC8quKqQMa8AEB-AGKBIAC4AOKAgwIABABGE0gTShlMA8%3D%26rs%3DAOn4CLAgp7tGZ4xbLg3pAYIeLatsFeeKQg&f=1&nofb=1&ipt=d3fe055310231a4747345c19319895ac400a91f3222b7c2ee689ce0132a1346a&ipo=images"
        alt=""
      />
    </div>

    <div class="small-card__title">
      <h1><a href="#">Escuta o som do meu corsa ai</a></h1>
    </div>
  </div>
  <div class="container__small-card__separator">
    <hr />
  </div>
</div>
